.enter-block {
  padding-bottom: 25px;
}

.search_button {
  display: flex;
  justify-content: center;
}

.image_container {
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 200px;
  max-width: none;
  cursor: pointer;
}

.youtube_title {
  font-size: 1rem;
  font-weight: normal;
}

.song_result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  width: 600px;
  height: 300px;
}
